#temp1Container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 450px;
  min-height: 600px;
  padding: 10px;
  align-items: center;
}
.allContentContainer{
  width: 100%;
  
}
.categoryHeader{
  text-decoration: underline;
}
.userFullName {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid rgba(128, 128, 128, 0.591);
}
.userFullName span {
  font-size: 30px;
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentColumn {
  width: 100%;
  height: 95%;
  display: flex;
}
.leftContentColumn,
.rightContentColumn {
  display: flex;
  width: 50%;
  flex-direction: column;

  padding: 5px;
}
.leftContentColumn {
  border-right: 3px solid rgba(128, 128, 128, 0.591);
}

.rightContentColumn {
  border-left: 3px solid rgba(128, 128, 128, 0.591);
}
.aboutMe {
  width: 80%;
  border-bottom:3px solid rgba(128, 128, 128, 0.591);

}
.displaySingleEducation ,.displaySingleWorkExp{
display: flex;
flex-direction: column;
gap: 1px;
  border-bottom:3px solid rgba(128, 128, 128, 0.591);
}
.displaySingleEducation p, .displaySingleWorkExp p{
margin: 0;
}
.contactInfo{
  border-bottom:3px solid rgba(128, 128, 128, 0.591);
}

