#ResumeFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#templateChooserContainer {
  display: flex;
  width: 80%;
}
#workExpContainer,
#educationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#templatesOptionsContainer{
  position: relative;}
#templateOptions {
  height: 50%;
  position: relative;
}
.singleWorkExpContainer,
.SingleEducationContainer {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border: 1px solid black;
}
#ResumeFormContainer form {
  width: 35vw;
}
.lableAndInput {
  display: flex;
  justify-content: space-between;
}
textarea {
  resize: none;
}
